@tailwind base;
@tailwind components;
@tailwind utilities;


.cart-container {
  text-align: center !important; 
  border: 1px solid #ccc; 
  padding: 20px; 
  display: flex !important;
  justify-content: center !important; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

img {
  display: block;
  margin: 0 auto;
}

hr {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
}







.user-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px; 
  
}


.form-container {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da; /* Sınır çizgileri */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  